/** Globales **/

@font-face {
    font-family: 'open_24_display_stregular';
    src: url('../fonts/lcd-webfont.woff2') format('woff2'),
         url('../fonts/lcd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'open_24_display_stregular';
    font-size: 1.6rem;
    color: green;
    background-color: black;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
}

/** Globales **/

.contenedor {
    min-height: 100vh;
    min-width: 400px;
    border-bottom: 5px double green;
    padding: 15px 0 15px 0;
}

.columna {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}

.centro {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0 10% 0 10%;
    /* valores: arriba derecha abajo izquierda */
}

.fila {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imagen {
    height: 5rem;
    border-radius: 0.5rem;
}

.ventana {
    margin-top: 5px;
    width: 90vw;
}

.ventana:hover{
    opacity: 0.8;
}

.video {
    height: 43.75vw;
    padding: 0px;
}

.video iframe{
    height: 100%;
    width: 100%;
}

.footer {
    padding-bottom: 0.5rem;
}

.link{
    text-decoration: none;
    color: blue;
}

.link:hover{
    text-decoration: none;
    color: yellow;
}